body {
	font: 12px Arial, Tahoma, Verdana, sans-serif;
	background-image: url(../images/Montaña.jpg);
	background-repeat: repeat-x;
	background-size: 100%;
}

/* DIV CONTENEDOR GENERAL */
#wrapper {
	width: 90%;
	height: auto;
	margin: auto;
}

/* Header
-----------------------------------------------------------------------------*/
header {
	height: 85%;
}
img {
	display: block;
	margin: 0 auto;
	width: 300px;
	height: 200px;
}
/* Middle
-----------------------------------------------------------------------------*/
#middle {
	width: 100%;
    background-color: lightyellow; 
    overflow: auto;
}

#content {
    /*Si no asociamos anchura al content intenta coger el 100% y se coloca en una línea diferente a la del #sideRight*/
	width: 75%;
	float: left;
    background-color: lightyellow;
    padding: 10px;
	margin-top: 20px;
}
.galeria {
	display: grid;
	grid-template-columns: repeat(3, 1fr); /* 3 columnas iguales */
	gap: 10px; /* Espacio entre las imágenes */
  }
  
.foto img {
	height: auto; /* Mantiene la proporción de las imágenes */
	border-radius: 8px; /* Esquinas redondeadas */
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
  }
  
.foto img:hover {
	transform: scale(1.05); /* Efecto de zoom */
	transition: transform 0.3s ease-in-out;
}
#content img {
	width: 350px;
	height: 200px;
	margin-right: 600px;
}
.clist {
	list-style: none; /* Eliminar los íconos predeterminados */
	padding: 0;
}
.clist li{
	background-image: url(../images/flecha.jpg); /* Ruta de la imagen */
	background-size: 20px 20px; /* Ajusta el tamaño del ícono */
	background-repeat: no-repeat;
	background-position: 0 50%; /* Posición horizontal y vertical */
	padding-left: 30px; /* Espacio para que el texto no se sobreponga a la imagen */
}

#sideRight {
	text-align: left;
	float: right;
	width: 20%;
	height: 227px;	
	background: #FFACAA;	
}

/* Footer
-----------------------------------------------------------------------------*/
#footer {
    background-color: #708090; /* Color de fondo */
    padding: 10px; /* Espaciado interno */
    width: 100%; /* Asegura que ocupe todo el ancho */
    box-sizing: border-box; /* Incluye padding en el cálculo del ancho */
    display: flex; /* Permite la alineación con flexbox */
    justify-content: flex-end; /* Alinea el contenido a la derecha */
}
#footer p {
	width: 100px;
	text-align: right;
}
/* Realizado hasta aqui */

