body {
	font: 12px Arial, Tahoma, Verdana, sans-serif;
	background-color: lightblue;
}

/* DIV CONTENEDOR GENERAL */
#wrapper {
	width: 90%;
	height: auto;
	margin: auto;
}

/* Header
-----------------------------------------------------------------------------*/
header {
	height: 85%;
	background: #FFE680;
	background-image: url(../images/Montaña2.jpg);
	background-repeat: repeat-x;
	background-size: 100%;
}
img {
	width: 200px;
	height: 150px;
	padding-left: 30px;
}
/* Middle
-----------------------------------------------------------------------------*/
#middle {
	width: 100%;
    background-color: lightyellow; 
    overflow: auto;
}

#content {
    /*Si no asociamos anchura al content intenta coger el 100% y se coloca en una línea diferente a la del #sideRight*/
	width: 80%;
	float: left;
    background-color: lightyellow;
    padding: 10px;
	margin-top: 20px;
	margin-bottom: 40px;   
}

#sideRight {
	text-align: left;
	float: left;
	width: 18%;
	height: 227px;	
	background: #FFACAA;	
}

/* Footer
-----------------------------------------------------------------------------*/
#footer {
    background-color: #708090; /* Color de fondo */
    padding: 10px; /* Espaciado interno */
    width: 100%; /* Asegura que ocupe todo el ancho */
    box-sizing: border-box; /* Incluye padding en el cálculo del ancho */
    display: flex; /* Permite la alineación con flexbox */
    justify-content: flex-end; /* Alinea el contenido a la derecha */
}
#footer p {
	width: 100px;
	text-align: right;
}
/* Realizado hasta aqui */

